<a href="https://colab.research.google.com/github/justprophet/Movie-Recommendation-System/blob/master/code/Cleaning_merging_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing Libraries

In [0]:
import numpy as np

In [0]:
import pandas as pd
import io

##Mounting the drive

In [0]:
from google.colab import drive 
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

##Uploading the files

In [0]:
import pandas as pd
df_credit=pd.read_csv('gdrive/My Drive/Assignment 2/Data/credits.csv')

In [0]:
print("credits: \n ", df_credit.columns)

credits:
  Index(['cast', 'crew', 'id'], dtype='object')

In [0]:
df_keywords = pd.read_csv('gdrive/My Drive/Assignment 2/Data/keywords.csv')
print("\n keywords: \n", df_keywords.columns)

 keywords:
 Index(['id', 'keywords'], dtype='object')

In [0]:
df = pd.read_csv('gdrive/My Drive/Assignment 2/Data/movies_metadata.csv')
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [0]:
df_keywords.head()

In [0]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,45456,45457,45458,45459,45460,45461,45462,45463,45464,45465
adult,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,NaN,NaN,NaN,"{'id': 645, 'name': 'James Bond Collection', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
budget,30000000,65000000,0,16000000,0,60000000,58000000,0,35000000,58000000,...,0,0,0,0,0,0,0,0,0,0
genres,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",...,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...","[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...","[{'id': 27, 'name': 'Horror'}]","[{'id': 878, 'name': 'Science Fiction'}]","[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'id': 18, 'name': 'Drama'}]","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",[],[]
homepage,http://toystory.disney.com/toy-story,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.mgm.com/view/movie/757/Goldeneye/,...,NaN,NaN,NaN,NaN,NaN,http://www.imdb.com/title/tt6209470/,NaN,NaN,NaN,NaN
id,862,8844,15602,31357,11862,949,11860,45325,9091,710,...,84419,390959,289923,222848,30840,439050,111109,67758,227506,461257
imdb_id,tt0114709,tt0113497,tt0113228,tt0114885,tt0113041,tt0113277,tt0114319,tt0112302,tt0114576,tt0113189,...,tt0038621,tt0265736,tt0252966,tt0112613,tt0102797,tt6209470,tt2028550,tt0303758,tt0008536,tt6980792
original_language,en,en,en,en,en,en,en,en,en,en,...,en,en,en,en,en,fa,tl,en,en,en
original_title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,House of Horrors,Shadow of the Blair Witch,The Burkittsville 7,Caged Heat 3000,Robin Hood,رگ خواب,Siglo ng Pagluluwal,Betrayal,Satana likuyushchiy,Queerama
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...,A family wedding reignites the ancient feud be...,"Cheated on, mistreated and stepped on, the wom...",Just when George Banks has recovered from his ...,"Obsessive master thief, Neil McCauley leads a ...",An ugly duckling having undergone a remarkable...,"A mischievous young boy, Tom Sawyer, witnesses...",International action superstar Jean Claude Van...,James Bond must unmask the mysterious head of ...,...,An unsuccessful sculptor saves a madman named ...,"In this true-crime documentary, we delve into ...",A film archivist revisits the story of Rustin ...,It's the year 3000 AD. The world's most danger...,"Yet another version of the classic epic, with ...",Rising and falling between a man and woman.,An artist struggles to finish his work while a...,"When one of her hits goes wrong, a professiona...","In a small town live two brothers, one a minis...",50 years after decriminalisation of homosexual...
popularity,21.9469,17.0155,11.7129,3.85949,8.38752,17.9249,6.67728,2.56116,5.23158,14.686,...,0.222814,0.076061,0.38645,0.661558,5.683753,0.072051,0.178241,0.903007,0.003503,0.163015
poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,/e64sOI48hQXyru7naBFyssKFxVd.jpg,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,...,/yMnq9mL5uYxbRgwKqyz1cVGCJYJ.jpg,/q75tCM4pFmUzdCg0gqcOQquCaYf.jpg,/lXtoHVdej6kS1Dc7KAhw05sMos9.jpg,/4lF9LH0b0Z1X94xGK9IOzqEW6k1.jpg,/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'name': 'United Artists', 'id': 60}, {'name'...",...,"[{'name': 'Universal Pictures', 'id': 33}]",[],"[{'name': 'Neptune Salad Entertainment', 'id':...","[{'name': 'Concorde-New Horizons', 'id': 4688}]","[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",[],"[{'name': 'Sine Olivia', 'id': 19653}]","[{'name': 'American World Pictures', 'id': 6165}]","[{'name': 'Yermoliev', 'id': 88753}]",[]
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",...,"[{'iso_3166_1': 'US', 'name': 'United States o...",[],"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_3166_1': 'IR', 'name': 'Iran'}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
release_date,1995-10-30,1995-12-15,1995-12-22,1995-12-22,1995-02-10,1995-12-15,1995-12-15,1995-12-22,1995-12-22,1995-11-16,...,1946-03-29,2000-10-22,2000-10-03,1995-01-01,1991-05-13,NaN,2011-11-17,2003-08-01,1917-10-21,2017-06-09
revenue,3.73554e+08,2.62797e+08,0,8.14522e+07,7.65789e+07,1.87437e+08,0,0,6.43502e+07,3.52194e+08,...,0,0,0,0,0,0,0,0,0,0
runtime,81,104,101,127,106,170,127,97,106,130,...,65,45,30,85,104,90,360,90,87,75
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'fa', 'name': 'فارسی'}]","[{'iso_639_1': 'tl', 'name': ''}]","[{'iso_639_1': 'en', 'name': 'English'}]",[],"[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released,...,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,NaN,Roll the dice and unleash the excitement!,Still Yelling. Still Fighting. Still Ready for...,Friends are the people who let you be yourself...,Just When His World Is Back To Normal... He's ...,A Los Angeles Crime Saga,You are cordially invited to the most surprisi...,The Original Bad Boys.,Terror goes into overtime.,No limits. No fears. No substitutes.,...,Meet...The CREEPER!,NaN,"Do you know what happened 50 years before ""The...",NaN,NaN,Rising and falling between a man and woman,NaN,A deadly game of wits.,NaN,NaN
title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,House of Horrors,Shadow of the Blair Witch,The Burkittsville 7,Caged Heat 3000,Robin Hood,Subdue,Century of Birthing,Betrayal,Satan Triumphant,Queerama
video,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
vote_average,7.7,6.9,6.5,6.1,5.7,7.7,6.2,5.4,5.5,6.6,...,6.3,7,7,3.5,5.7,4,9,3.8,0,0
vote_count,5415,2413,92,34,173,1886,141,45,174,1194,...,8,2,1,1,26,1,3,6,0,0

##Checking bad rows in movies_metadata file

In [0]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [0]:
# only 3 bad rows

print (df[pd.to_numeric(df['id'], errors='coerce').isnull()])

                                                   adult  \
19730                                 - Written by Ørnås
29503   Rune Balot goes to a casino connected to the ...
35587   Avalanche Sharks tells the story of a bikini ...

      belongs_to_collection                            budget  \
19730              0.065736  /ff9qCepilowshEtG2GYWwzt2bs4.jpg
29503              1.931659  /zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
35587              2.185485  /zaSf5OG7V8X8gqFvly88zDdRm46.jpg

                                                  genres  \
19730  [{'name': 'Carousel Productions', 'id': 11176}...
29503  [{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...
35587  [{'name': 'Odyssey Media', 'id': 17161}, {'nam...

                                                homepage          id imdb_id  \
19730  [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...  1997-08-20       0
29503  [{'iso_3166_1': 'US', 'name': 'United States o...  2012-09-29       0
35587           [{'iso_3166_1': 'CA', 'name': 'Canada'}]  2014-01-01       0

      original_language                            original_title  overview  \
19730             104.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
29503              68.0      [{'iso_639_1': 'ja', 'name': '日本語'}]  Released
35587              82.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released

         ...     release_date revenue runtime spoken_languages status  \
19730    ...                1     NaN     NaN              NaN    NaN
29503    ...               12     NaN     NaN              NaN    NaN
35587    ...               22     NaN     NaN              NaN    NaN

       tagline  title video vote_average vote_count
19730      NaN    NaN   NaN          NaN        NaN
29503      NaN    NaN   NaN          NaN        NaN
35587      NaN    NaN   NaN          NaN        NaN

[3 rows x 24 columns]

In [0]:
df.shape

(45466, 24)

In [0]:
df["id"] =pd.to_numeric(df['id'], errors='coerce',downcast="integer")

##Removal of Bad rows

In [0]:
df.dropna(subset=["id"],inplace=True)

In [0]:
df.shape

(45463, 24)

In [0]:
df.dropna(subset=["imdb_id"]).shape

(45446, 24)

In [0]:
print("df_credit",df_credit.shape)

df_credit (45476, 3)

In [0]:
df_credit.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

##Merging of credit and movies_metadata files

In [0]:
df = df.merge(df_credit,on=["id"],how="left")

In [0]:
df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."

In [0]:
df.shape

(45539, 26)

In [0]:
df_keywords.shape

(46419, 2)

In [0]:
df.tail(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
45529,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0,"[{'cast_id': 5, 'character': 'The Creeper', 'c...","[{'credit_id': '58152c139251415a7f0047e2', 'de..."
45530,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0,"[{'cast_id': 30, 'character': 'Debuty Hank Har...","[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de..."
45531,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0,"[{'cast_id': 2, 'character': 'Branwall', 'cred...","[{'credit_id': '5403d669c3a3682d9800427d', 'de..."
45532,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0,"[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de..."
45533,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de..."
45534,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
45535,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
45536,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
45537,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45538,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

##Merging of keywords file with movies_metadata and credits

In [0]:
df = df.merge(df_keywords,on=["id"],how="left")

In [0]:
df.shape

(46629, 27)

In [0]:
df.drop_duplicates().shape

(45463, 27)

In [0]:
df.shape

(46629, 27)

In [0]:
df.isnull().sum()

adult                        0
belongs_to_collection    42055
budget                       0
genres                       0
homepage                 38620
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   995
popularity                   4
poster_path                399
production_companies         4
production_countries         4
release_date                88
revenue                      4
runtime                    268
spoken_languages             4
status                      86
tagline                  25846
title                        4
video                        4
vote_average                 4
vote_count                   4
cast                         1
crew                         1
keywords                     1
dtype: int64

In [0]:
df.dropna(subset=["cast","crew","keywords","popularity"],inplace=True)
print(df.shape)

(46624, 27)

In [0]:
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['budget'] = df['budget'].replace(0, np.nan)
df['revenue'] = df['revenue'].replace(0, np.nan)

In [0]:
df.shape

(46624, 27)

##Merged file

In [0]:
df.head(100)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
5,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...","[{'id': 642, 'name': 'robbery'}, {'id': 703, '..."
6,False,NaN,58000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...","[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam..."
7,False,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",[]
8,False,NaN,35000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...","[{'id': 949, 'name': 'terrorist'}, {'id': 1562..."
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam..."
10,False,NaN,62000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...","[{'id': 833, 'name': 'white house'}, {'id': 84..."
11,False,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...","[{'id': 3633, 'name': 'dracula'}, {'id': 11931..."
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",NaN,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...","[{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n..."
13,False,NaN,44000000.0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...","[{'id': 840, 'name': 'usa president'}, {'id': ..."
14,False,NaN,98000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...","[{'id': 911, 'name': 'exotic island'}, {'id': ..."
15,False,NaN,52000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...","[{'id': 383, 'name': 'poker'}, {'id': 726, 'na..."
16,False,NaN,16500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...","[{'id': 420, 'name': 'bowling'}, {'id': 818, '..."
17,False,NaN,4000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0,"[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...","[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na..."
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...","[{'id': 409, 'name': 'africa'}, {'id': 1551, '..."
19,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0,"[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...","[{'id': 380, 'name': 'brother brother relation..."
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,False,6.4,305.0,"[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe448dc3a36847f809c729', 'de...","[{'id': 395, 'name': 'gambling'}, {'id': 416, ..."
21,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0,"[{'cast_id': 8, 'character': 'Helen Hudson', '...","[{'credit_id': '52fe430ec3a36847f803722d', 'de...","[{'id': 796, 'name': 'police brutality'}, {'id..."
22,False,NaN,50000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0,"[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...","[{'id': 271, 'name': 'competition'}, {'id': 44..."
23,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0,"[{'cast_id': 1, 'character': 'Jessie Caldwell'...","[{'credit_id': '52fe45129251416c7504ab67', 'de...","[{'id': 7345, 'name': 'dead animal'}, {'id': 1..."
24,False,NaN,3600000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0,"[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...","[{'id': 30, 'name': 'individual'}, {'id': 549,..."
25,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0,"[{'cast_id': 2, 'character': 'Othello', 'credi...","[{'credit_id': '5462510ec3a368082d000121', 'de...","[{'id': 497, 'name': 'shakespeare'}, {'id': 93..."
26,False,NaN,12000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0,"[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...","[{'id': 1228, 'name': '1970s'}, {'id': 5248, '..."
27,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0,"[{'cast_id': 1, 'character': 'Anne Elliott', '...","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de...","[{'id': 1316, 'name': 'captain'}, {'id': 33384..."
28,False,NaN,18000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0,"[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...","[{'id': 402, 'name': 'clone'}, {'id': 1566, 'n..."
29,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0,"[{'cast_id': 2, 'character': 'Xiao Jingbao', '...","[{'credit_id': '52fe46559251416c910511c9', 'de...","[{'id': 964, 'name': 'servant'}, {'id': 2311, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,False,NaN,50000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,11859,tt0113010,en,Fair Game,Max Kirkpatrick is a cop who protects Kate McQ...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,He's a cop on the edge. She's a woman with a d...,Fair Game,False,4.1,54.0,"[{'cast_id': 1, 'character': 'Max Kirkpatrick'...","[{'credit_id': '52fe44949251416c75039d5f', 'de...","[{'id': 258, 'name': 'bomb'}, {'id': 416, 'nam..."
71,False,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,28387,tt0113537,en,Kicking and Screaming,"After college graduation, Grover's girlfriend ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Anxiety loves company.,Kicking and Screaming,False,7.0,36.0,"[{'cast_id': 1, 'character': 'Grover', 'credit...","[{'credit_id': '52fe4592c3a368484e062d3f', 'de...","[{'id': 3616, 'name': 'college'}]"
72,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,48750,tt0113828,fr,Les misérables,"In France during World War II, a poor and illi...",...,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,"In a time of chaos, in a world of change, he w...",Les Miserables,False,6.6,8.0,"[{'cast_id': 4, 'character': 'Henri Fortin / J...","[{'credit_id': '52fe4773c3a36847f81365ef', 'de...","[{'id': 90, 'name': 'paris'}, {'id': 745, 'nam..."
73,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,20927,tt0115644,en,Bed of Roses,"The seeds of love are planted when Lisa, a hig...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He gave her flowers. She gave him a chance.,Bed of Roses,False,5.1,27.0,"[{'cast_id': 1, 'character': 'Lewis Farrell', ...","[{'credit_id': '52fe4402c3a368484e00a745', 'de...","[{'id': 2778, 'name': 'florist'}, {'id': 10235..."
74,False,NaN,15000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,36929,tt0115676,en,Big Bully,A writer returns to his hometown where he face...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A comedy for the kid in all of us.,Big Bully,False,3.9,16.0,"[{'cast_id': 1, 'character': 'David Leary', 'c...","[{'credit_id': '52fe461a9251416c910493c7', 'de...","[{'id': 10624, 'name': 'bully'}]"
75,False,"{'id': 122017, 'name': 'Screamers Collection',...",20000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,9102,tt0114367,en,Screamers,"(SIRIUS 6B, Year 2078) On a distant mining pla...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The last scream you hear will be your own.,Screamers,False,6.1,154.0,"[{'cast_id': 1, 'character': 'Colonel Hendrick...","[{'credit_id': '560c446892514171a000645b', 'de...","[{'id': 312, 'name': 'man vs machine'}, {'id':..."
76,False,NaN,NaN,"[{'id': 99, 'name': 'Documentary'}]",NaN,124626,tt0113973,en,Nico Icon,"A look into the many lives of Christa Päffgen,...",...,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Nico Icon,False,7.3,3.0,"[{'cast_id': 14, 'character': 'Herself', 'cred...","[{'credit_id': '52fe4ab0c3a368484e161cd5', 'de...",[]
77,False,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,27526,tt0112744,en,The Crossing Guard,"After his daughter died in a hit and run, Fred...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"...some lives cross, others collide.",The Crossing Guard,False,6.1,74.0,"[{'cast_id': 1, 'character': 'Freddy Gale', 'c...","[{'credit_id': '52fe4550c3a368484e0531bb', 'de...","[{'id': 6381, 'name': 'loss of daughter'}, {'i..."
78,False,NaN,44000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,9623,tt0116731,en,The Juror,"With his gangster boss on trial for murder, a ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There is no defense.,The Juror,False,5.5,91.0,"[{'cast_id': 1, 'character': 'Annie Laird', 'c...","[{'credit_id': '52fe4512c3a36847f80bae13', 'de...","[{'id': 1417, 'name': 'jurors'}, {'id': 1936, ..."
79,False,NaN,NaN,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",NaN,46785,tt0112445,fa,بادکنک سفید,Several people try to take advantage of a litt...,...,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,NaN,The White Balloon,False,7.5,20.0,"[{'cast_id': 1001, 'character': 'Razieh', 'cre...","[{'credit_id': '546e168cc3a36817e300003f', 'de...","[{'id': 1357, 'name': 'fish'}, {'id': 10594, '..."
80,False,NaN,8000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,400,tt0114660,en,Things to Do in Denver When You're Dead,A mafia film in Tarantino style with a star-st...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Protect. Love. Honor. Avenge.,Things to Do in Denver When You're Dead,False,6.7,87.0,"[{'cast_id': 3, 'character': ""Jimmy 'The Saint...","[{'credit_id': '52fe423ec3a36847f800f319', 'de...","[{'id': 494, 'name': 'father son relationship'..."
81,False,NaN,900000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,880,tt0112379,nl,Antonia,"After World War II, Antonia and her daughter, ...",...,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,A motion picture that celebrates everything yo...,Antonia's Line,False,7.2,26.0,"[{'cast_id': 11, 'character': 'Antonia', 'cred...","[{'credit_id': '52fe4286c3a36847f8025ccf', 'de...","[{'id': 236, 'name': 'suicide'}, {'id': 240, '..."
82,False,NaN,NaN,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,146599,tt0114039,en,Once Upon a Time... When We Were Colored,This film relates the story of a tightly conne...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Once Upon a Time... When We Were Colored,False,4.5,2.0,"[{'cast_id': 2, 'character': 'Poppa', 'credit_...","[{'credit_id': '52fe4b889251416c75106047', 'de...","[{'id': 6984, 'name': 'racial segregation'}, {..."
83,False,NaN,NaN,[],NaN,188588,tt0113612,en,Last Summer in the Hamptons,"Filmed entirely on location in East Hampton, L...",...,[],Released,NaN,Last Summer in the Hamptons,False,0.0,0.0,"[{'cast_id': 2, 'character': 'Oona Hart', 'cre...","[{'credit_id': '52fe4d3c9251416c7513477d', 'de...",[]

##Extracting names of genres from 'genres' attribute

In [0]:
from ast import literal_eval
import ast
df['genres'] = df['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [0]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew', 'keywords'],
      dtype='object')

##Removal of columns that are not required for constructing models

In [0]:
df = df.drop(columns=['adult', 'belongs_to_collection','homepage','original_language','original_title','poster_path','production_countries','spoken_languages','status','video','budget','production_companies','release_date','revenue'])

In [0]:
df.columns

Index(['genres', 'id', 'imdb_id', 'overview', 'popularity', 'runtime',
       'tagline', 'title', 'vote_average', 'vote_count', 'cast', 'crew',
       'keywords'],
      dtype='object')

In [0]:
df.shape

(46624, 13)

In [0]:
df.isnull().sum(axis=0)

genres              0
id                  0
imdb_id            17
overview          995
popularity          0
runtime           264
tagline         25841
title               0
vote_average        0
vote_count          0
cast                0
crew                0
keywords            0
dtype: int64

In [0]:
df = df.drop(columns=['runtime','tagline','imdb_id'])

In [0]:
df.shape

(46624, 10)

In [0]:
df.isnull().sum(axis=0)

genres            0
id                0
overview        995
popularity        0
title             0
vote_average      0
vote_count        0
cast              0
crew              0
keywords          0
dtype: int64

In [0]:
df.dropna(subset=["overview"],inplace=True)

In [0]:
df.isnull().sum(axis=0)

genres          0
id              0
overview        0
popularity      0
title           0
vote_average    0
vote_count      0
cast            0
crew            0
keywords        0
dtype: int64

In [0]:
df.shape

(45629, 10)

##Clean file

In [0]:
df.head(3)

,genres,id,overview,popularity,title,vote_average,vote_count,cast,crew,keywords
0,"[Animation, Comedy, Family]",862,"Led by Woody, Andy's toys live happily in his ...",21.9469,Toy Story,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,"[Adventure, Fantasy, Family]",8844,When siblings Judy and Peter discover an encha...,17.0155,Jumanji,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,"[Romance, Comedy]",15602,A family wedding reignites the ancient feud be...,11.7129,Grumpier Old Men,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."

In [0]:
df.to_csv('gdrive/My Drive/Assignment 2/Data/merged_without_ratings_data.csv')

In [0]:
df_merged_data = pd.read_csv('gdrive/My Drive/Assignment 2/Data/merged_without_ratings_data.csv')

In [0]:
df_merged_data.columns

Index(['Unnamed: 0', 'genres', 'id', 'overview', 'popularity', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'keywords'],
      dtype='object')